<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false"
         bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">./lib/Checkout/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="checkout-sdk-php Test Suite">
            <directory>./test/Checkout/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
