name: build-master
on:
    push:
        branches:
            - master
jobs:
    build:
        if: "!contains(github.event.commits[0].message, 'Release')"
        runs-on: ${{ matrix.os }}
        strategy:
            max-parallel: 1
            fail-fast: false
            matrix:
                os: [ ubuntu-latest, windows-latest ]
                php-version: [ "5.6", "8.1" ]
        steps:
            -   uses: actions/checkout@v2
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    extensions: fileinfo
                    coverage: xdebug
            -   name: Installed version
                run: php -v
            -   name: Remove PHPStan
                if: "matrix.php-version == '5.6'"
                run: composer remove --dev phpstan/phpstan
            -   name: Composer validate
                run: composer validate
            -   name: Composer install
                run: composer install
            -   name: Run PHPStan
                if: "matrix.php-version != '5.6'"
                run: vendor/bin/phpstan analyse --no-progress
            -   name: Run PHPUnit
                env:
                    CHECKOUT_SECRET_KEY: ${{ secrets.IT_CHECKOUT_SECRET_KEY }}
                    CHECKOUT_PUBLIC_KEY: ${{ secrets.IT_CHECKOUT_PUBLIC_KEY }}
                    CHECKOUT_FOUR_SECRET_KEY: ${{ secrets.IT_CHECKOUT_FOUR_SECRET_KEY }}
                    CHECKOUT_FOUR_PUBLIC_KEY: ${{ secrets.IT_CHECKOUT_FOUR_PUBLIC_KEY }}
                    CHECKOUT_FOUR_OAUTH_CLIENT_ID: ${{ secrets.IT_CHECKOUT_FOUR_OAUTH_CLIENT_ID }}
                    CHECKOUT_FOUR_OAUTH_CLIENT_SECRET: ${{ secrets.IT_CHECKOUT_FOUR_OAUTH_CLIENT_SECRET }}
                run: vendor/bin/phpunit --verbose
    sonarcloud:
        name: SonarCloud
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
                with:
                    fetch-depth: 0
            -   name: SonarCloud Scan
                uses: SonarSource/sonarcloud-github-action@master
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
